@charset "UTF-8";

<style>
#container {
	width: 1000px;
	margin: 0px auto;
	padding: 20px;
}
section {
	width: 1000px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
}
#recipeSection {
	overflow: scroll;
	overflow-x: hidden;
	width: 800px;
	height: 1000px;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 1px solid #bcbcbc;
	text-align: center;
}
#recipeContent {
	vertical-align : middle;
	width: 700px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0px solid;
	text-align : left;
	cursor : pointer;
}
#category {
	width: 900px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
}
#list {
	width: 700px;
	height: 150px;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ffffff;
}
#footer {
	width: 1000px;
	clear: both;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #bcbcbc;
}
ul.h {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	border-bottom : 1px solid lightgray;
	font-weight : bold;
	font-family : Sans-Serif;
}
li.h {
	float: left;
	/*solid: #bbb;*/
}
li.l {
	float: right;
	/*solid: #bbb;*/
}
li.h a.h, li.l a.h {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li.h a.h:hover:not(.active), li.l a.h:hover:not(.active) {
	color: rgb(233,77,77);
}
li.h a.h {
	border-bottom: 2px solid lightgray;
}

li.l a.ha {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

li.h a.h:hover:not(.active) {
	border-bottom: 2px solid rgb(233,77,77);
}

li.l a.ha:hover:not(.active) {
	background-color : rgb(205,59,59);
}

.active { background-color: Fuchsia; }
a {text-decoration: none; }

ul.c {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li.c {
	float: left;
	solid: #bbb;
}
#menubar li.l ul.h {
	display:none;
	height:auto;
	position:absolute;
	right : 15px;
	top : 55px;
	width:auto;
	z-index:200;
	text-align: center;
	text-decoration: none;
}

#menubar li.l:hover ul.h {
	display:block;
	border-radius : 10px;
	background-color: rgb(233,77,77);
	font-size : 8pt;
}  

</style>